.login-form {
  max-width: 300px;
  width: 250px;
}

.login-form-margin {
  margin-bottom: 20px;
}

.login-form-button {
  width: 100%;
}

.register-btn-container {
  text-align: center;
  &:hover {
    font-weight: bold;
    cursor: pointer;
  }
  &:active {
    opacity: 0.5;
  }
}
