.main-container {
  display: flex;
  flex-direction: column;
  & .title-container {
    margin: 12px auto;
  }
  & .search-container {
    margin: auto;
    min-width: 350px;
  }
}

.products {
  max-width: 900px;
  margin: 0 auto;
  display: grid;
  grid-gap: 1rem;
  padding: 20px
}

.product-img {
  width: 220px; 
  height: 220px; 
  object-fit: cover; 
  background-color: gray; 
  margin: auto
}

@media (max-width: 400px) {
  .main-container > .search-container {
    min-width: auto;
  }
}

@media (min-width: 600px) {
  .products { grid-template-columns: repeat(3, 1fr); }
}

@media (min-width: 900px) {
  .products { grid-template-columns: repeat(4, 1fr); }
}

.ant-card-bordered {
  border: 1px solid  transparent !important;
}