.login-container {
  background: #673ab7;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  flex-direction: column;
}

.logo-container {
  margin-bottom: 30px;
}
