.login-container {
  background: #673ab7;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  flex-direction: column;
}

.logo-container {
  margin-bottom: 30px;
}

.helper-btn-container {
  text-align: center;
  &:hover {
    font-weight: bold;
    cursor: pointer;
  }
  &:active {
    opacity: 0.5;
  }
}
